<html lang="en">
<style>
  .ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>
  <head>
    <meta charset="utf-8" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Auth0 Example</title>
  </head>
  <body>
    {% if session %}
    <h1>Welcome {{session.userinfo.name}}!</h1>
    <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
    {% if access_token %}
    <b>Access Token (links to JWT):</b>
    <p><a href="https://jwt.io/?token={{access_token}}">{{access_token}}</a></p>
    {% endif %}

    <div><pre>{{pretty}}</pre></div>
    {% else %}
    <h1 id="profileDropDown">Welcome Guest</h1>
    <p><a href="/login" id="qsLoginBtn">Login</a></p>
    {% endif %}
  </body>
<script>
    const cityInput = document.getElementById('city');
    const regionInput = document.getElementById('region');
    const timezoneInput = document.getElementById('timezone');
    const latitudeInput = document.getElementById('latitude');
    const longitudeInput = document.getElementById('longitude');

    document.getElementById('settingsForm').onsubmit = function (e) {
        fetch('/users/{{ id }}/settings', {
            method: 'POST',
            body: JSON.stringify({
                    'city': cityInput.value,
                    'region': regionInput.value,
                    'timezone': timezoneInput.value,
                    'latitude': latitudeInput.value,
                    'longitude': longitudeInput.value
                }
            ),
            headers: {
                'Content-Type':
                    'application/json',
            }
        })  .then(response => response.json())
        .then(data => console.log(data))
            .catch(function () {
                console.error('Error occurred');
            });
    }

</script>
</html>
