<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
  </head>
  <body>
    {% if session %}
    <h1>Welcome {{session.userinfo.name}}!</h1>
<form id="settingsForm" method="POST">
    <p>City <input type="text" name="city" id="city"/></p>
    <p>Region <input type="text" name="region" id="region"/></p>
    <p>Timezone <input type="text" name="timezone" id="timezone"/></p>
    <p>Latitude <input type="text" name="latitude" id="latitude"/></p>
    <p>Longitude <input type="text" name="longitude" id="longitude"/></p>
    <p><input type="submit" value="Submit"/></p>
</form>

    <p><a href="/logout" id="qsLogoutBtn">Logout</a></p>
    <div><pre>{{pretty}}</pre></div>
    {% else %}
    <h1 id="profileDropDown">Welcome Guest</h1>
    <p><a href="/login" id="qsLoginBtn">Login</a></p>
    {% endif %}
  </body>
<script>
    const cityInput = document.getElementById('city');
    const regionInput = document.getElementById('region');
    const timezoneInput = document.getElementById('timezone');
    const latitudeInput = document.getElementById('latitude');
    const longitudeInput = document.getElementById('longitude');

    document.getElementById('settingsForm').onsubmit = function (e) {
        fetch('/users/{{ id }}/settings', {
            method: 'POST',
            body: JSON.stringify({
                    'city': cityInput.value,
                    'region': regionInput.value,
                    'timezone': timezoneInput.value,
                    'latitude': latitudeInput.value,
                    'longitude': longitudeInput.value
                }
            ),
            headers: {
                'Content-Type':
                    'application/json',
            }
        })  .then(response => response.json())
        .then(data => console.log(data))
            .catch(function () {
                console.error('Error occurred');
            });
    }

</script>
</html>
