<script>
    const cityInput = document.getElementById('city');
    const regionInput = document.getElementById('region');
    const timezoneInput = document.getElementById('timezone');
    const latitudeInput = document.getElementById('latitude');
    const longitudeInput = document.getElementById('longitude');

    document.getElementById('settingsForm').onsubmit = function (e) {
        fetch('/users/{{ id }}/settings', {
            method: 'POST',
            body: JSON.stringify({
                    'city': cityInput.value,
                    'region': regionInput.value,
                    'timezone': timezoneInput.value,
                    'latitude': latitudeInput.value,
                    'longitude': longitudeInput.value
                }
            ),
            headers: {
                'Content-Type':
                    'application/json',
            }
        })  .then(response => response.json())
        .then(data => console.log(data))
            .catch(function () {
                console.error('Error occurred');
            });
    }

</script>